[binance_user_config]
api_key=
api_secret_key=
current_coin=
bridge=USDT
tld=com
hourToKeepScoutHistory=1
scout_multiplier=2
scout_sleep_time=1
strategy=ratio_adjust
enable_paper_trading=False
buy_timeout=10
sell_timeout=5
buy_order_type=market
sell_order_type=market
sell_max_price_change=0.005
buy_max_price_change=0.005
trade_fee=auto
price_type=orderbook
accept_losses=true
max_idle_hours=72
ratio_adjust_weight=500
auto_adjust_bnb_balance=false
auto_adjust_bnb_balance_rate=3
enable_stop_loss=true
ratio_calc=scout_margin
